
# Temporales pesados de Visual Studio
.vs/
Debug/
x64/

# Archivos de configuración local del usuario
*.user
*.aps
*.opendb
*.VC.db

# Ignorar ejecutables generados en la raíz
*.exe
/assets/NorthEternal-yYl4V.otf
/assets/NorthEternal-yYl4V.otf
/assets/fondo-menu2.jpeg
/assets/fondo-menu1.jpeg
/assets/fondo-menu1.jpeg
/assets/fondo-menu2.jpeg
